{{#if suc_msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{suc_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if warn_msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{warn_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if errors}}
  {{#each errors}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{this.message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/each}}
{{/if}}